<!DOCTYPE html>
<head>
    <title>Add Recipe - More recipe</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script language="javascript" src="js/jquery-2.1.1.min.js"></script>
    <script language="javascript" src="js/jquery-ui.min.js"></script>
    <script language="javascript" src="js/bootstrap.js"></script>
</head>

<body>
	<div class="container-fluid pad-base">
		<header class="row navbar-fixed-top my-nav-header">
			<div class="col-md-12">
				<div class="navbar-header brand">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="search-button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar" style="color:#FFF; font-weight:bold;">---</span>
								<span class="icon-bar" style="color:#FFF; font-weight:bold;">---</span>
								<span class="icon-bar" style="color:#FFF; font-weight:bold;">---</span>
						</button>
						<a class="navbar-brand"><strong>More-Recipes</strong></a>
				</div>
				
				<div class="navbar-collapse collapse">                     
					<ul class="nav navbar-nav">
						<li><a href="index.html">Home</a></li>
						<li>
                  <form class="form-inline" style="background-color:#FFF;border:1px solid #CCC;margin-top:5px;border-radius:5px;">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="border:0px #FFFFFF;">
    <button class="btn" type="submit" style="background-color:#2196F3 !important;" id="search-button"><!--Search--><span class="glyphicon glyphicon-search"></span></button></form>
                        </li>
					</ul>

                    
					<div class="pull-right"> 
						<ul class="nav navbar-nav">
							<li class="pull-right" id="sign-in"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="sign-in">Current User</a>
							<ul class="dropdown-menu">
                            	<li><a href="user_profile.html">My Profile</a></li>
                                <li><a href="add_recipe.html">Add Recipe</a></li>
                               	<li><a href="#">Sign out</a></li>
                            </ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<div class="row" style="margin-top:50px">       
          
       		<section class="col-md-8">
          		<h3>What?</h3>
<p>More-Recipes provides a platform for users to share the awesome and exciting recipe ideas they
have invented or learnt. Suppose a user comes up with a recipe, he/she can post it on
More-Recipes and get feedback in form of reviews and votes from other users who explore that
recipe. Users can also keep a list of their favorite recipes on the application.</p>
<h3>How?</h3>
<p>This project is broken down into challenges and completion of all phases would contribute
greatly to your learning towards becoming a full-stack developer. Upon completion, you would
have built a world-class full-stack (front-end and back-end) JS application.</p>
<h3>Why?</h3>
<p>Andela distributes opportunities. We disseminate Learning and catalyse Technology leadership.
The project is founded on the premise that aspiring Technology Leaders learn programming
whilst building things that matter and that the best way to learn is by building a complete product.</p>
                
        	</section>
            
            <section class="col-md-4">
            	<h3>My Favourite Recipes</h3>
          		 <article class="popular-recipe">
                 <h4><a href="">Recipe Title</a></h4>
                	This is a popular recipe
                    <h5 id="fav-recipe-author">-Recipe Author</h5>
                </article>
                
                <article class="popular-recipe">
                  <h4><a href="">Recipe Title</a></h4>
                	This is a popular recipe
                    <h5 id="fav-recipe-author">-Recipe Author</h5>
                </article>
                
                <article class="popular-recipe">
                  <h4><a href="">Recipe Title</a></h4>
                	This is a popular recipe
                    <h5 id="fav-recipe-author">-Recipe Author</h5>
                </article>
                
                <article class="popular-recipe">
                  <h4><a href="">Recipe Title</a></h4>
                	This is a popular recipe
                    <h5 id="fav-recipe-author">-Recipe Author</h5>
                </article>
                
                <article class="popular-recipe">
                 <h4><a href="">Recipe Title</a></h4>
                	This is a popular recipe
                    <h5 id="fav-recipe-author">-Recipe Author</h5>
                </article>
                
        	</section>
            
    	</div>
      
    	<footer class="row">
        	<div class="col-md-12">
            	&copy; Bootcamp27 More-Recipe 
            </div>
   	    </footer>
	</div>
</body>
</html>
