<!DOCTYPE html>
<head>
    <title>Recipes - More recipe</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script language="javascript" src="js/jquery-2.1.1.min.js"></script>
    <script language="javascript" src="js/jquery-ui.min.js"></script>
    <script language="javascript" src="js/bootstrap.js"></script>
    <script language="javascript" src="js/scripts.js"></script>
</head>

<body>
	<div class="container-fluid pad-base">
    <header class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-sm brand" style="padding:1px !important;">
                <div class="brand-name"><a class="navbar-brand" href="index.html"><span class="brand-name">More Recipe</span></a></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav navbar-nav">
                       	<li class="nav-item"><a class="nav-link" href="index.html"><img src="css/icons/home_24px.svg" class="glyph-icon"/>Catalog</a></li>
                        
                        <li class="nav-item" style="display:inline;"><a href="sign_up.html" class="nav-link"><img src="css/icons/sign_up_24px.svg" class="glyph-icon"/> Sign Up</a></li>
                        <li class="nav-item" style="display:inline;"><a href="sign_in.html" class="nav-link"><img src="css/icons/sign_in_24px.svg" class="glyph-icon si-glyph" />Sign In</a></li>
                    
                   
                        <li><form class="form-inline" style="background-color:#FFF;border:1px solid #CCC;margin-top:5px;border-radius:5px;">
                      <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search" style="border:0px">
                      <button class="btn btn-outline-success btn-sm" type="submit" id="search-button" data-toggle="tooltip" title="search!">
<img src="css/icons/Search_24px.svg" class="glyph-icon"/></button>
                    </form></li>
                    </ul>                                      
                </div>
            </nav>
        </div>
    </header>

		<div class="row recipes" style="margin-top:50px;">
        	
            <div class="container main-content">
            	<div class="row">
                	<section class="col-md-8">
                    	<h3>Recipes</h3>
                        <section>
                            <div class="card" style="width: 20rem; float:left;">
                                <img src="images/1_cheesy-chex-mix.jpg" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title"><a href="">Cheesy Mix</a></p>
                                    <p class="card-text">This is cheese mix from Hafeez</p>
                                    <ul class="list-group">
                                        <li class="list-group-item">Flour</li>
                                    </ul>
                                    <ul>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Vote Up"><img src="css/icons/vote_up_24px.svg" class="glyph-icon" /></a></li>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Vote Down"><img src="css/icons/vote_down_24px.svg" class="glyph-icon"/></a></li>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Review"><img src="css/icons/review_24px.svg" class="glyph-icon" /></a></li>
                                    </ul>
                                </div>                        
                            </div>
                            
                            <div class="card" style="width: 20rem;">
                                <img src="images/pizza.jpg" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title"><a href="">Pizza</a></p>
                                    <p class="card-text">This is cheese mix from Hafeez</p>
                                    <ul class="list-group">
                                        <li class="list-group-item">Flour</li>
                                    </ul>
                                    <ul>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Vote Up"><img src="css/icons/vote_up_24px.svg" class="glyph-icon" /></a></li>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Vote Down"><img src="css/icons/vote_down_24px.svg" class="glyph-icon"/></a></li>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Review"><img src="css/icons/review_24px.svg" class="glyph-icon" /></a></li>
                                    </ul>
                                </div>                        
                            </div>
                            
                            <div class="card" style="width: 20rem;">
                                <img src="images/pizza.jpg" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title"><a href="">Pizza</a></p>
                                    <p class="card-text">This is cheese mix from Hafeez</p>
                                    <ul class="list-group">
                                        <li class="list-group-item">Flour</li>
                                    </ul>
                                    <ul>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Vote Up"><img src="css/icons/vote_up_24px.svg" class="glyph-icon" /></a></li>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Vote Down"><img src="css/icons/vote_down_24px.svg" class="glyph-icon"/></a></li>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Review"><img src="css/icons/review_24px.svg" class="glyph-icon" /></a></li>
                                    </ul>
                                </div>                        
                            </div>
                            
                            <div class="card">
                                <img src="images/jollof.jpg" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title"><a href="">Jollof Rice</a></p>
                                    <p class="card-text">This is cheese mix from Hafeez</p>
                                    <ul class="list-group">
                                        <li class="list-group-item">Flour</li>
                                    </ul>
                                    <ul>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Vote Up"><img src="css/icons/vote_up_24px.svg" class="glyph-icon" /></a></li>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Vote Down"><img src="css/icons/vote_down_24px.svg" class="glyph-icon"/></a></li>
                                        <li class="user-ops"><a href="" data-toggle="tooltip" title="Review"><img src="css/icons/review_24px.svg" class="glyph-icon" /></a></li>
                                    </ul>
                                </div>                        
                            </div>
                        </section>
                    </section>
                    
                    <section class="col-md-4">
                    	<h3>Popular Recipes</h3>
                        	<div class="card">
                                <img src="images/pizza.jpg" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title"><a href="">Pizza</a></p>
                                </div>                        
                            </div>
                            
                            <div class="card">
                                <img src="images/pizza.jpg" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title"><a href="">Pizza</a></p>
                                </div>                        
                            </div>
                            
                    </section>
                </div>
            	
                
              </div>
            </div>
            
          
       		
    	</div>
      
    	<footer class="row">
        	<div class="col-md-12">
            	&copy; Bootcamp27 More-Recipe 
            </div>
   	    </footer>
	</div>
</body>
</html>
